[Unit]
Description=subnetresult
Requires=subnetcalc.service

[Service]
User=subnetcalc
Group=subnetcalc
Type=simple
ExecStart=/usr/bin/subnetresult

[Install]
WantedBy=multi-user.target
